table{
  margin: 30px auto;
}

th{
  border: 2px solid black;
  padding: 100;
  text-align: center;
  background-color: grey;
}

tr, td{
  border: 2px solid black;
  padding: 100;
  text-align: center;
}
